<div class="text">
  <div class="page-header resumeTitle">
    <h1>Skills</h1>
  </div>
  <div class="container">
    <div class="row">
      <img src="../../assets/images/angularlogo.png" alt="angluarLogo">
      <img src="../../assets/images/javascriptlogo.png" alt="javascriptLogo" style="width:175px; margin-left: 50px; margin-right: 50px">
      <img src="../../assets/images/typescriptlogo.png" alt="typesriptLogo" style="width: 175px; margin-left: 50px; margin-right: 50px">
      <img src="../../assets/images/gitlogo.png" alt="gitLogo" style="margin-left: 50px;">
    </div>
    <hr>
    <div class="col-md-4">
      <h2 class="skillsListHead">Programming Languages:</h2>
      <ul class="skillsUL">
        <li>JavaScript / TypeScript</li>
        <li>Angular</li>
        <li>HTML / CSS</li>
      </ul>
      <h2 class="skillsListHead">Version Control System:</h2>
      <ul class="skillsUL">
        <li>GIT</li>
        <br>
        <br>
      </ul>
    </div>
    <div class="col-md-4">
        <h2 class="skillsListHead">Skills:</h2>
        <ul class="skillsUL">
          <li>Product Backlog, Empathy Mapping, User Stories</li>
          <br>
          <li>Adobe Photoshop and Illustrator</li>
          <br>
          <li>Microsoft Office Professional Suite </li>
        </ul>
    </div>
    <div class="col-md-4">
      <h2 class="skillsListHead">Courses:</h2>
      <ul class="skillsUL">
        <li>System Analysis and Design</li>
        <li>Web Development</li>
        <li>Database Management Systems</li>
        <li>Information Security</li>
        <br>
        <br>
      </ul>
  </div>
  </div>
</div>