<div class="text">
  <div class="container">
    <div class="pageheader" id="contactTitle">
      <h1>Contact</h1>
      <br>
    </div>
    <p id="contactSub">Please feel free to contact me with anything you may need!</p>
    <hr>
    <div>
      <div class="col-xs-6">
        <label for="name">Name</label>
        <input type="text" class="form-control">
      </div>
    <div class="col-xs-6">
        <label for="email">Email</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="col-xs-12" style="padding:10px">
      <label for="email">Subject</label>
      <input type="text" class="form-control">
    </div>
    <br>
    <div class="col-xs-12">
      <label for="email">Message</label>
      <textarea name="message" id="" cols="30" rows="10" class="form-control"></textarea>
      <hr>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-lg" id="sendButton">Submit</button>
    </div>
  </div>
</div>