<div class="text">
  <div class="page-header resumeTitle">
    <h1>Organizations</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br />
      <label for="kdr" style="font-size: 30px;">Kappa Delta Rho</label>
      <ul style="margin-bottom: 50px;">
        <li>President, 2019-2020</li>
        <li>Vice President, 2018-2019</li>
        <li>Head House Manager, 2017-2018</li>
        <li>Autism Walk Committee, 2017-2019</li>
        <li>Graphic Designer, 2017-2020</li>
      </ul>
      <hr />
    </div>
    <div class="col-md-6">
      <img
        src="../../assets/images/kdr.jpg"
        alt="kdr"
        style="float:right; width:375px;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br />
      <label for="kdr" style="font-size: 30px;">University of Pittsburgh at Johnstown Rugby</label>
      <ul>
        <li>Player, 2018-2020</li>
      </ul>
      <hr />
    </div>
    <div class="col-md-6">
      <br />
      <img
        src="../../assets/images/upj-rugby.PNG"
        alt="best-buy"
        style="float: right; width: 400px;"
      />
    </div>
  </div>
</div>
