<div class="text">
  <div class="container">
<div class="row">
    <div class="page-header resumeTitle">
      <h1>Education</h1>
    </div>

    <div class="col-md-6">
      <label for="upmc" class="educationInfo">
        Bachelor of Science Information Systems, <br />
        University of Pittsburgh, 2016-2020</label>
    </div>

    <div class="col-md-6">
      <img src="../../assets/images/pitt-logo.png" alt="upmc" class="bmwLogo" />
    </div>
  </div>
  <hr>
    <div class="page-header resumeTitle">
      <h1 style="transform: translateY(-30%)">Work Experience</h1>
    </div>

    <div class="col-md-6">
      <label for="upmc">User Interface Intern, UPMC, Summer 2019</label>
      <ul>
        <li>Assisted in development of user interface components</li>
        <li>Documented user interface components usages and functions</li>
        <li>Completed courses in JavaScript, Typescript, and Angular</li>
      </ul>
    </div>

    <div class="col-md-6">
      <img
        src="../../assets/images/upmc-logo.png"
        alt="upmc"
        style="width: 400px; float: right; margin-bottom: 50px;"
      />
    </div>

    <div class="col-md-6">
      <label for="na"
        >IT Intern, North Allegheny School District, Summer 2018</label
      >
      <ul>
        <li>
          Reimaged district computers for teachers, students, and administrators
        </li>
        <li>Engaged in troubleshooting software installation issues</li>
        <li>Assisted with replacing and maintaining network switches</li>
        <li>
          Completed setup of Apple products on district network and ensured
          connectivity
        </li>
        <li>Inventoried devices and device accessories</li>
      </ul>
    </div>

    <div class="col-md-6">
      <img
        src="../../assets/images/naLogo.png"
        alt="north-allegheny"
        style="width: 400px; float: right; margin-bottom: 50px;"
      />
    </div>

    <div class="col-md-6">
      <label for="euroCycle"
        >Lot Attendant, European Motorcycles, 2016-2017</label
      >
      <ul>
        <li>Assisted with maintaining online store</li>
        <li>
          Provided routine maintenance and upkeep of motorcycles and showroom
        </li>
        <li>
          Transported motorcycles across state lines for delivery and
          maintenance
        </li>
        <li>
          Maintained a high level of professionalism when interacting with
          customers and colleagues
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <img src="../../assets/images/bmw-logo.png" alt="bmw" class="bmwLogo" />
    </div>

    <div class="col-md-6">
      <label for="bestBuy">Customer Sales, Best Buy, 2014-2016</label>
      <ul>
        <li>
          Engaged customers and informed them on new products and technical
          specifications of products
        </li>
        <li>Consistently met or exceeded competitive hourly sales goals</li>
        <li>
          Completed weekly trainings for upcoming products and new technology
        </li>
        <li>
          Maintained a high level of professionalism when interacting with
          customers and colleagues
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <img
        src="../../assets/images/bestbuy-logo.png"
        alt="best-buy"
        style="width: 400px; float: right;"
      />
    </div>
    <hr />
  </div>
</div>
