/* You can add global styles to this file, and also import other style files */
html {
    background-color: #778899;
}

.text{
    color: whitesmoke;
    font-family: "Arial", Arial, Helvetica, sans-serif;
}

.active a {
    background-color: #94618E;
}