<div class="text">
  <div class="jumbotron jumbotron-fluid">
      <div class="container" id="jumboText">
        <h1>Hi, I'm Devon</h1>
       <p style="font-size:30px;"> As an aspiring front-end developer with an eye for design, <br /> I create User Interfaces to look good and work even better.</p>
      </div>
  </div>

    <div class="container" id="homeInfo">
      <p>I am currently a senior at University of Pittsburgh at Johnstown pursuing a Bachelor of Science in Information Systems.
        I am an intern at UPMC in the User Interface department where I am able to apply the skills I have acquired in my coursework and work experience to assist in creating better business and technology solutions.
      </p>
      <a href="https://www.linkedin.com/in/devon-cuda-494083b1/" target="_blank" id ="linkedBtn" class="btn btn-primary">View LinkedIn Profile</a>
      <hr>
      <p>Please Feel Free to Contact Me through LinkedIn</p>
      <hr>
    </div>
</div>